<h1>New Coffee</h1>
<%=form_tag "/coffees", method: :post do %>
  <div>
    Blend: <input type="text" name="blend">
  </div>

   <div>
    Origin: <input type="text" name="origin">
  </div> 
  <div>
    Variety: <input type="text" name="variety">
  </div>
   <div>
    Notes: <input type="text" name="notes">
  </div>
  <input type="submit" value="Create Coffee">
  <div>
<% end %>


<% @coffees.each do |coffee| %>
  <h2>Blend: <%= coffee['blend'] %></h2>
  <h3>Origin: <%= coffee['origin'] %></h3>
  <h3>Variety: <%= coffee['variety'] %></h3>
  <h3>Notes: <%= coffee['notes'] %></h3>
  <%= link_to "Edit Coffee", "/coffees/#{coffee['id']}/edit", class: "btn btn-warning" %>
  <%= link_to "Delete Coffee", "/coffees/#{coffee['id']}", method: :delete, class: "btn btn-danger" %> 
  <br>
<% end %>